<li>
    <p>
        <%= comment.content %>

        <small>
            <% if( (locals.user) ){ %>                            
                <a href="/comments/destroy/<%=comment.id%>"> 
                    X
                </a>
            <% }%>
        </small>

        <br>
        <%= comment.user.name %>
    </p>
</li