<footer id="layout-footer" style="background-color: rgba(0,0,0,0.8) !important;>
    <div>
        <p>
            <i class="fas fa-copyright" ></i>
            Saksham Agarwal. <br> @All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <% if( (locals.user) ){ %>   
                <li>
                    <a href="/users/profile/<%= locals.user.id%>"">Profile</a>
                </li>
                <% }%>
            </ul>
        </nav>
    </div>
</footer>