<link rel="stylesheet" href="/css/user_profile.css">

<body>
    <h1> Welcome to Codeial Profile Page !</h1>
</body>


<p> <h3>Name:  <%=locals.user.name%>  </h3>     </p>
<p> <h3>Email: <%=locals.user.email%> </h3>     </p>