<link rel="stylesheet" href="/css/user_profile.css">

<body>
    <h1> Welcome to Codeial Profile Page !</h1>
  
<p> <b>Name:  </b>    <%=locals.user.name%>       </p>
<p> <b>Email: </b>    <%=locals.user.email%>      </p>

</body>
