<h1>Sign Up!</h1>

<form action="/users/create" enctype="multipart/form-data" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <input type="file" name="avatar"  placeholder="post picture . ."/>
    <input type="submit" value="Sign Up">
</form>