#layout-header nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #2196f3;
    color: white;
    box-shadow: 5px 5px 5px 5px lightgrey; 
    #layout-header nav .mini-logo p {
      margin: 5px;
      font-size: 2rem;
      font-weight: bold; 
    }
    #layout-header nav .auth-links ul {
      display: flex; 
    }
      #layout-header nav .auth-links ul li {
        padding: 2px;
        list-style: none;
        margin-right: 10px; 
      }
    #layout-header nav a {
      color: white;
      text-decoration: none; 
    }
}