#layout-header nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  color: white;
  background: #2196f3;
  box-shadow: 1px 1px 1px 1px lightgrey; }

#layout-header nav .mini-logo p {
  margin: 5px;
  font-size: 2rem;
  font-weight: bold; }

#layout-header nav .auth-links ul {
  display: flex; }

#layout-header nav .auth-links ul li {
  padding: 2px;
  list-style: none;
  margin-right: 10px; }

#layout-header nav .auth-links ul li a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 1rem; }

#layout-header nav .mini-logo a {
  color: white;
  font-size: 3rem;
  text-decoration: none; }
